body
{
  margin-left:10px;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
  background-color: #e0e0e0;
  color:#202020;
  font-family:arial,helvetica,lucida;
}

a:link
{ 
  color: #404080;
}

a:visited
{
  color: #101020;  
}

a:active
{ 
  color: #000000;
}

h1
{
  text-align:center;
}

h2
{
  text-align:center;
}

h3
{
  text-align:center;
}

td
{
  font-family:helvetica,arial;
  font-size:10pt;
}

td.btl
{
  max-width: 16 px;
  max-height: 16 px;
  min-width: 16 px;
  min-height: 16 px;
  width: 16 px;
  height: 16 px;
  background-color: #e0e0e0;
  background-image:url(/img/btl.png);
} 

td.bt
{
  max-height: 16 px;
  min-height: 16 px;
  height: 16 px;
  background-color: #e0e0e0;
  background-image:url(/img/bt.png);
} 

td.btr
{
  max-width: 16 px;
  max-height: 16 px;
  min-width: 16 px;
  min-height: 16 px;
  width: 16 px;
  height: 16 px;  
  background-color: #e0e0e0;
  background-image:url(/img/btr.png);
} 

td.bl
{
  max-width: 16 px;
  min-width: 16 px;
  width: 16 px;
  background-color: #e0e0e0;
  background-image:url(/img/bl.png);
} 

td.br
{
  max-width: 16 px;
  min-width: 16 px;
  width: 16 px;
  background-color: #e0e0e0;
  background-image:url(/img/br.png);
} 

td.bbl
{
  max-width: 16 px;
  max-height: 16 px;
  min-width: 16 px;
  min-height: 16 px;
  width: 16 px;
  height: 16 px;
  background-color: #e0e0e0;
  background-image:url(/img/bbl.png);
} 

td.bb
{
  max-height: 16 px;
  min-height: 16 px;
  height: 16 px;
  background-color: #e0e0e0;
  background-image:url(/img/bb.png);
} 

td.bbr
{
  max-width: 16 px;
  max-height: 16 px;
  min-width: 16 px;
  min-height: 16 px;
  width: 16 px;
  height: 16 px;  
  background-color: #e0e0e0;
  background-image:url(/img/bbr.png);
} 

td.content
{
  padding-left:20px;
  padding-right:20px;
  
  text-align:left;
  font-family:arial,helvetica,lucida;
  font-size:10pt;
} 

td.menu
{
  text-align:left;
  font-family:arial,helvetica,lucida;
  font-size:14pt;
  font-weight:bold;  
  color: black;
  background-color: #c0c0c0;
  padding-top: 2px;
}

p.intro
{
  margin-left:20px;
  margin-right:20px;
  margin-top:20px;
  margin-bottom:20px;
  text-align:center;
  font-family:arial,helvetica,lucida;
  font-size:10pt;
  font-weight:bold;
}
